body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

.index_container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  background-color: #332941;
  box-shadow: 15px 20px 100px 0px #864af9;
  z-index: 1;
}

.header a {
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 30px;
}

.content {
  background-color: #3b3486;
}

.signup_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91.3vh;
  background-color: #3b3486;
  flex-direction: column;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 350px;
  height: 35px;
  border-radius: 0.375rem;
  border-color: rgb(148 163 184);
  padding: 2px 5px;
}

.form_container label {
  color: white;
  font-size: 20px;
}

.signup_form h1 {
  color: white;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 500;
}

.form_container button {
  width: 364px;
  height: 35px;
  border-radius: 0.375rem;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
}

.form_container h3 {
  color: red;
}

.signup_form textarea {
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.please_login {
  height: 91.3vh;
  background-color: #3b3486;
  display: flex;
  justify-content: center;
  align-items: center;
}

.please_login h3 {
  color: white;
  font-size: 26px;
  margin: 0;
}

.content {
  height: 91.3vh;
  background-color: #3b3486;
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.message_container {
  border: 1px solid white;
  margin: 30px;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.left_section,
.right_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_section {
  justify-content: space-around;
  padding: 20px 10px;
  align-items: flex-end;
}

.left_section h1 {
  margin: 0;
}

.delete_message {
  background-color: red;
  color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left_section {
  padding: 10px 5px;
}

.left_section h1 {
  color: white;
  margin: 0;
}

.right_section h3 {
  color: white;
}

.left_section p {
  color: white;
  font-size: 17px;
}

.left_section h5 {
  color: white;
}
